@import "./_mixin";

@include desktop {
  footer {
    position: relative;
    width: 2561px;
    height: 398px;
    color: #464646;
    font: normal 500 12px "Pretendard-Medium";
    line-height: 150%;
    margin: 0px auto;
    .familySites {
      display: none;
    }
    > h1 > a > img {
      width: 200px;
      height: 36px;
      padding: 48px 40px 0px 40px;
    }
    .title {
      width: 66px;
      height: 18px;
      margin-top: 32px;
      margin-left: 40px;
      margin-right: 40px;
    }
    .sites {
      display: flex;
      align-items: center;
      height: 24px;
      margin-top: 8px;
      padding-bottom: 46px;
      border-bottom: 1px solid #303030;
      margin-left: 40px;
      margin-right: 40px;
      gap: 20px;
      li {
        &:nth-of-type(4) {
          flex-wrap: nowrap;
          font: normal 600 16px "Pretendard-SemiBold";
          color: #fff;
          &::after {
            width: 82px;
            height: 19px;
            padding: 2px 6px;
            margin-left: 4px;
            border: 1px solid #b64242;
            border-radius: 100px;
            font: normal 400 10px "Pretendard";
            line-height: 150%;
            color: #b64242;
            content: "COMING SOON";
            text-align: center;
            vertical-align: middle;
          }
        }
        a {
          flex-wrap: nowrap;
          font: normal 600 16px "Pretendard-SemiBold";
          color: #fff;
        }
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu {
        display: flex;
        align-items: center;

        height: 24px;
        margin-top: 20px;
        margin-left: 40px;
        gap: 24px;

        .earth {
          display: block;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
        .hide {
          display: none;
        }
        .language {
          position: absolute;
          background-color: #2e2e2e;
          top: 145px;
          left: 243px;
          z-index: 1;
          li {
            width: 169px;
            height: 24px;
            padding: 9px 0px 11px 16px;
            label {
              display: flex;
              font: normal 500 16px "Pretendard";
              color: #fff;
              line-height: 150%;
              text-align: left;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;
            }
            input:checked ~ label {
              &::after {
                display: block;
                width: 24px;
                height: 24px;
                content: "";
                background-image: url(../img/ico_checked.png);
                background-size: 24px;
                margin-right: 10px;
              }
            }
          }
          &::after {
            display: block;
            position: absolute;
            width: 14px;
            height: 5px;
            left: 85px;
            top: 88px;
            content: "";
            background-image: url(../img/notch.png);
            background-size: 14px 5px;
          }
        }
      }
      .sns {
        display: flex;
        width: 240px;
        height: 32px;
        margin-top: 20px;
        margin-right: 40px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        img {
          display: block;
          width: 32px;
          height: 32px;
          filter: invert(75%);
        }
      }
    }
    .copyright {
      width: 174px;
      height: 15px;
      margin-left: 40px;
      font: normal 400 10px "Pretendard";
    }
  }
}

@include tablet {
  footer {
    position: relative;
    height: 398px;
    color: #464646;
    font: normal 500 12px "Pretendard-Medium";
    line-height: 150%;
    margin: 0px auto;
    > h1 > a > img {
      width: 200px;
      height: 36px;
      padding: 48px 40px 0px 40px;
      vertical-align: middle;
    }
    .familySites {
      display: none;
    }
    > img {
      width: 200px;
      height: 36px;
      margin-top: 48px;
      margin-left: 40px;
      margin-right: 40px;
    }
    .title {
      width: 66px;
      height: 18px;
      margin-top: 32px;
      margin-left: 40px;
      margin-right: 40px;
    }
    .sites {
      display: flex;
      align-items: center;
      height: 24px;
      margin-top: 8px;
      padding-bottom: 46px;
      border-bottom: 1px solid #303030;
      margin-left: 40px;
      margin-right: 40px;
      gap: 20px;
      li {
        flex-wrap: nowrap;
        font: normal 600 16px "Pretendard-SemiBold";
        color: #fff;
        &:nth-of-type(4) {
          &::after {
            width: 82px;
            height: 19px;
            padding: 2px 6px;
            margin-left: 4px;
            border: 1px solid #b64242;
            border-radius: 100px;
            font: normal 400 10px "Pretendard";
            line-height: 150%;
            color: #b64242;
            content: "COMING SOON";
            text-align: center;
            vertical-align: middle;
          }
        }
        a {
          color: #fff;
        }
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .menu {
        display: flex;
        align-items: center;
        height: 24px;
        margin-top: 20px;
        gap: 24px;
        margin-left: 40px;
        .earth {
          display: block;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
        .language {
          position: absolute;
          background-color: #2e2e2e;
          top: 136px;
          left: 243px;
          z-index: 1;
          li {
            width: 169px;
            height: 24px;
            padding: 9px 0px 11px 16px;
            label {
              display: flex;
              font: normal 500 16px "Pretendard";
              color: #fff;
              line-height: 150%;
              text-align: left;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;
            }
            input:checked ~ label {
              &::after {
                display: block;
                width: 24px;
                height: 24px;
                content: "";
                background-image: url(../img/ico_checked.png);
                background-size: 24px;
                margin-right: 10px;
              }
            }
          }
          &::after {
            display: block;
            position: absolute;
            width: 14px;
            height: 5px;
            left: 85px;
            top: 88px;
            content: "";
            background-image: url(../img/notch.png);
            background-size: 14px 5px;
          }
        }
      }
      .sns {
        display: flex;
        width: 240px;
        height: 32px;
        margin-top: 20px;
        margin-right: 40px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        img {
          display: block;
          width: 32px;
          height: 32px;
          filter: invert(75%);
        }
      }
    }
    .copyright {
      width: 174px;
      height: 15px;
      margin-left: 40px;
      font: normal 400 10px "Pretendard";
    }
  }
}

@include mobile {
  footer {
    position: relative;
    color: #464646;
    font: normal 500 12px "Pretendard-Medium";
    line-height: 150%;
    padding: 32px 20px;
    > h1 > a > img {
      width: 157px;
      height: 28px;
      vertical-align: middle;
    }
    .familySites {
      position: absolute;
      box-sizing: border-box;
      padding: 8px;
      width: 140px;
      height: 37px;
      right: 20px;
      top: 28px;
      border: 1px solid #404040;
      font: normal 500 14px "Pretendard-Medium";
      align-items: center;
      color: #a7a7a7;
      cursor: pointer;
      > img {
        position: absolute;
        width: 16px;
        height: 16px;
        right: 8px;
        top: 10px;
        filter: invert(100%);
      }
    }
    > img {
      width: 157px;
      height: 28px;
    }
    .title {
      display: none;
    }
    .sites {
      display: none;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .menu {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;
        height: 24px;
        margin-top: 16px;
        gap: 16px;
        order: 2;
        .earth {
          display: block;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
        .hide {
          display: none;
        }
        .language {
          position: absolute;
          background-color: #2e2e2e;
          top: 56px;
          left: 199px;
          z-index: 1;
          li {
            width: 169px;
            height: 24px;
            padding: 9px 0px 11px 16px;
            label {
              display: flex;
              font: normal 500 16px "Pretendard";
              color: #fff;
              line-height: 150%;
              text-align: left;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;
            }
            input:checked ~ label {
              &::after {
                display: block;
                width: 24px;
                height: 24px;
                content: "";
                background-image: url(../img/ico_checked.png);
                background-size: 24px;
                margin-right: 10px;
              }
            }
          }
          &::after {
            display: block;
            position: absolute;
            width: 14px;
            height: 5px;
            left: 85px;
            top: 88px;
            content: "";
            background-image: url(../img/notch.png);
            background-size: 14px 5px;
          }
        }
      }
      .sns {
        display: flex;
        width: 100%;
        height: 32px;
        margin-top: 41px;
        justify-content: left;
        align-items: center;
        gap: 4px;
        order: 1;
        img {
          display: block;
          width: 32px;
          height: 32px;
          filter: invert(75%);
        }
      }
    }
    .copyright {
      width: 174px;
      height: 15px;
      margin-top: 8px;
      font: normal 400 10px "Pretendard";
    }
  }
}
