header {
  display: flex;
  justify-content: space-between;
  width: 2561px;
  height: 60px;
  .logoBox {
    margin: auto 0px;
    margin-left: 20px;
    .logo {
      width:36px;
      height:36px;
    }
    
    .writing {
      width:156px;
      height:20px;
      margin:8px 0px;
      margin-left:8px;
    }
  }
  .earth {
    width:24px;
    height:24px;
    margin: auto 0px;
    margin-right:20px;
  }
}




