@import "./_variavles";

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@font-face {
  font-family: "Pretendard-Light";
  src: 
    url("./assets/font/Pretendard-Light.woff") format("woff"),
    url("./assets/font/Pretendard-Light.ttf") format("truetype"),
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("./assets/font/Pretendard-Medium.woff") format("woff"),
  url("./assets/font/Pretendard-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("./assets/font/Pretendard-Bold.woff") format("woff"),
  url("./assets/font/Pretendard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./assets/font/Pretendard-SemiBold.woff") format("woff"),
  url("./assets/font/Pretendard-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/font/Pretendard-Regular.woff") format("woff"),
  url("./assets/font/Pretendard-Regular.ttf") format("truetype");
}