@import "./_mixin";

@include desktop {
  .info {
    min-height: 836px;
    background-color: #a484ff;
    .wonders {
      text-align: center;
      padding: 108px 82px;
      em {
        display: block;
        max-width: 1672px;
        margin: 0px auto;
        font: normal 600 44px "Pretendard-SemiBold";
        line-height: 140%;
      }
      p {
        max-width: 568px;
        margin: 0px auto;
        padding-top: 28px;
        font: normal 500 16px "Pretendard-Medium";
        line-height: 150%;
      }
    }
    .description {
      display: flex;
      min-height: 420px;
      border-top: 1px solid #4f4372;
      .cell {
        flex: 1;
        width: 33.3%;
        padding:32px 40px;
        border-right: 1px solid #4f4372;
        &:nth-of-type(1) {
          .number {
            &:before {
              content: "";
              background-image: url(../img/ico_staking.png);
              background-size: 72px;
              background-repeat: no-repeat;
              background-position: center;
              margin-right: 8px;
              width: 72px;
              height: 72px;
              display: inline-block;
            }
          }
        }
        em {
          height: 24px;
          font: normal 600 20px "Pretendard-SemiBold";
          line-height: 120%;
        }
        .hide,
        .content {
          width: 100%;
          font: normal 500 18px "Pretendard-Medium";
          line-height: 150%;
          margin-bottom: 27px;
        }
        .number {
          margin-top: 16px;
          font: normal 500 88px "Pretendard-Medium";
          display: flex;
          margin-bottom: 12px;
          align-items: center;
          line-height: 120%;
          text-align: left;
        }
        img {
          display: none;
        }
        .flexbox {
          width: 100%;
          height: 260px;
          display: flex;
          flex-wrap: wrap;
          margin-top: 19px;
          .flexcontent {
            flex-basis: 50%;
            align-content: space-between;
            span {
              display: block;
              height: 21px;
              font: normal 500 14px "Pretendard-Medium";
              color: #1a1a1a;
              line-height: 150%;
            }
            strong {
              width: 100%;
              height: 67px;
              font: normal 600 56px "Prentendard-SemiBold";
              line-height: 120%;
            }
            &:nth-of-type(1) {
              span {
                display: flex;
                gap: 2px;
                &::after {
                  width: 16px;
                  width: 16px;
                  content: "";
                  background-image: url(../img/ico_circle.png);
                  background-size: 16px;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              strong {
                &::after {
                  display: block;
                  height: 21px;
                  font: normal 500 14px "Pretendard-Medium";
                  color: #1a1a1a;
                  line-height: 150%;
                  content: "1% per WONDER";
                }
              }
            }
          }
        }
      }
    }
  }
  label {
    display: none;
  }
}

@include tablet {
  .info {
    background-color: #a484ff;
    .wonders {
      text-align: center;
      padding: 74px 82px 72px;
      em {
        display: block;
        max-width: 859px;
        font: normal 600 24px "Pretendard-SemiBold";
        line-height: 140%;
      }
      p {
        display: block;
        max-width: 497px;
        margin: 0px auto;
        padding-top: 16px;
        font: normal 500 14px "Pretendard-Medium";
        line-height: 150%;
      }
    }
    .description {
      display: flex;
      border-top: 1px solid #4f4372;
      .cell {
        flex: 1;
        padding: 32px 40px 40px;
        border-right: 1px solid #4f4372;
        &:nth-of-type(1) {
          .number {
            &:before {
              content: "";
              background-image: url(../img/ico_staking.png);
              background-size: 40px;
              background-repeat: no-repeat;
              background-position: center;
              width: 40px;
              height: 40px;
              display: inline-block;
            }
          }
        }

        em {
          display: block;
          height: 22px;
          font: normal 600 18px "Pretendard-SemiBold";
          line-height: 120%;
        }
        img {
          display: none;
        }
        .hide,
        .content {
          font: normal 500 16px "Pretendard-Medium";
          line-height: 150%;
          &:nth-of-type(1) {
            margin-bottom: 24px;
          }
        }
        div {
          text-align: left;
        }

        .number {
          margin-top: 16px;
          font: normal 500 48px "Pretendard-Medium";
          display: flex;
          margin-bottom: 12px;
          align-items: center;
          line-height: 120%;
          gap: 8px;
        }
        .flexbox {
          width: 100%;
          height: 210px;
          display: flex;
          flex-wrap: wrap;
          margin-top: 17px;
          .flexcontent {
            flex-basis: 50%;
            align-content: space-between;
            span {
              display: block;
              height: 18px;
              font: normal 500 12px "Pretendard-Medium";
              color: #1a1a1a;
              line-height: 150%;
            }
            strong {
              width: 100%;
              height: 38px;
              font: normal 600 32px "Prentendard-SemiBold";
              line-height: 120%;
            }
            &:nth-of-type(1) {
              span {
                display: flex;
                gap: 2px;
                &::after {
                  width: 12px;
                  width: 12px;
                  content: "";
                  background-image: url(../img/ico_circle.png);
                  background-size: 12px;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              strong {
                &::after {
                  display: block;
                  height: 18px;
                  font: normal 500 12px "Pretendard-Medium";
                  color: #1a1a1a;
                  line-height: 150%;
                  content: "1% per WONDER";
                  margin-top: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .info {
    background-color: #a484ff;
    .wonders {
      text-align: left;
      padding: 40px 20px;
      em {
        display: block;
        font: normal 600 24px "Pretendard-SemiBold";
        line-height: 140%;
      }
      p {
        display: block;
        margin: 0px auto;
        padding-top: 20px;
        font: normal 500 14px "Pretendard-Medium";
        line-height: 150%;
      }
    }
    .description {
      .hide {
        display: none;
      }
      .cell {
        position: relative;
        padding: 20px 20px 30px;
        border-top: 1px solid #1a1a1a;
        &:nth-of-type(1) {
          .number {
            &:before {
              content: "";
              background-image: url(../img/ico_staking.png);
              background-size: 24px;
              background-repeat: no-repeat;
              background-position: center;
              width: 24px;
              height: 24px;
              display: inline-block;
            }
          }
        }
        em {
          display: block;
          height: 22px;
          font: normal 600 16px "Pretendard-SemiBold";
          line-height: 120%;
          margin-bottom: 21px;
        }
        .content {
          font: normal 500 16px "Pretendard-Medium";
          line-height: 150%;
          margin-top: 19px;
          margin-bottom: 2px;
          &:nth-of-type(1) {
            margin-top: 32px;
          }
        }
        div {
          text-align: left;
        }
        img {
          display: block;
          position: absolute;
          cursor: pointer;
          top: 69px;
          right: 20px;
          width: 24px;
          height: 24px;
        }

        .number {
          font: normal 500 32px "Pretendard-Medium";
          display: flex;
          align-items: center;
          line-height: 120%;
          gap: 4px;
        }
        .flexbox {
          width: 100%;
          height: 90px;
          display: flex;
          flex-wrap: wrap;
          margin-top: 17px;
          justify-content: space-between;
          .flexcontent {
            width: 25%;
            span {
              display: block;
              font: normal 500 12px "Pretendard-Medium";
              color: #1a1a1a;
              line-height: 150%;
              &:nth-of-type(2) {
                max-width: 80px;
                margin-top: 2px;
              }
            }
            strong {
              width: 100%;
              height: 34px;
              font: normal 600 24px "Prentendard-SemiBold";
              line-height: 120%;
            }
            &:nth-of-type(1) {
              span {
                display: flex;
                gap: 2px;
                &::after {
                  width: 12px;
                  width: 12px;
                  content: "";
                  background-image: url(../img/ico_circle.png);
                  background-size: 12px;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              strong {
                &::after {
                  display: block;
                  max-width: 80px;
                  font: normal 500 12px "Pretendard-Medium";
                  color: #1a1a1a;
                  line-height: 150%;
                  content: "1% per WONDER";
                }
              }
            }
          }
        }
      }
      .hide {
        display: none;
      }
    }
  }
}
