@import "./_mixin";

@include desktop {
  .moreabout {
    min-height: 1472px;
    color: #fff;
    .title {
      border-bottom: 1px solid #464646;
      > h2 {
        display: block;
        padding: 65px 40px;
        line-height: 120%;
        font: normal 500 calc(36px + 1.4vw) "Pretendard-Medium";
      }
    }
    .communications {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #464646;
      > h3 {
        display: block;
        font: normal 600 calc(32px + 0.5vw) "Pretendard-SemiBold";
        line-height: 120%;
        padding: 104px 40px;
      }
      .SNSs {
        display: flex;
        width: 50%;
        .snsIco {
          display: flex;
          width: 20%;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #464646;
          img {
            width: 5.4vw;
          }
        }
      }
    }
    .ecosystem {
      display: flex;
      justify-content: space-between;
      min-height: 982px;
      border-bottom: 1px solid #464646;
      > h3 {
        display: block;
        width: calc(50% - 80px);
        font: normal 600 calc(31px + 0.5vw) "Pretendard-SemiBold";
        line-height: 120%;
        padding: 40px;
      }
      .rightcontainer {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        .cell {
          position: relative;
          width: calc(50% - 122px);
          min-height: 410px;
          padding: 60px 60px 100px 60px;
          border-width: 0px 0px 1px 1px;
          border-style: solid;
          border-color: #464646;
          .celltop {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .name {
            height: calc(-5px + 1.9133vw);
          }
          .rightArw {
            height: calc(-5px + 1.9133vw);
          }
          p {
            display: block;
            margin-top: 40px;
            font: normal 500 16px "Pretendard-Medium";
            color: #a7a7a7;
            line-height: 150%;
          }
          .comingsoon {
            display: block;
            position: absolute;
            width: 113px;
            height: 19px;
            left: 60px;
            padding: 4px 8px;
            bottom: 60px;
            border: 1px solid #b64242;
            border-radius: 100px;
            font: normal 500 14px "Pretendard-Medium";
            line-height: 150%;
            color: #b64242;
            text-align: center;
          }
          &:nth-of-type(3) {
            border-bottom: 0px;
          }
          &:nth-of-type(4) {
            border-bottom: 0px;
          }
        }
      }
    }
  }
}

@include tablet {
  .moreabout {
    color: #fff;
    .title {
      border-bottom: 1px solid #464646;
      > h2 {
        display: block;
        padding: 46px 40px;
        line-height: 120%;
        font: normal 500 calc(32px + 0.3vw) "Pretendard-Medium";
      }
    }
    .communications {
      display: flex;
      border-bottom: 1px solid #464646;
      > h3 {
        display: block;
        width: calc(50% - 90px);
        font: normal 600 calc(24px + 0.3vw) "Pretendard-SemiBold";
        line-height: 120%;
        padding: 45px;
        margin-bottom: 4px;
      }
      .SNSs {
        display: flex;
        width: 50%;
        .snsIco {
          display: flex;
          width: 20%;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #464646;
          img {
            width: 72px;
            height: 72px;
          }
        }
      }
    }
    .ecosystem {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #464646;

      > h3 {
        display: block;
        width: calc(50% - 80px);
        font: normal 600 calc(22px + 0.3vw) "Pretendard-SemiBold";
        line-height: 120%;
        padding: 40px;
      }
      .rightcontainer {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        .cell {
          position: relative;
          width: calc(50% - 50px);
          min-height: 297px;
          border-width: 0px 0px 1px 1px;
          border-style: solid;
          border-color: #464646;
          padding: 32px 20px 24px 24px;
          .celltop {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .name {
            height: calc(-10px + 3.3203vw);
          }
          .rightArw {
            width: calc(-10px + 3.3203vw);
            height: calc(-10px + 3.3203vw);
          }
          p {
            display: block;
            margin-top: 24px;
            font: normal 500 14px "Pretendard-Medium";
            color: #a7a7a7;
            line-height: 150%;
          }
          .comingsoon {
            display: block;
            width: 97px;
            height: 22px;
            padding: 2px 6px;
            margin-top: 31px;
            left: 24px;
            bottom: 24px;
            border: 1px solid #b64242;
            border-radius: 100px;
            font: normal 500 12px "Pretendard-Medium";
            line-height: 22px;
            color: #b64242;
            text-align: center;
          }
          &:nth-of-type(3) {
            border-bottom: 0px;
          }
          &:nth-of-type(4) {
            border-bottom: 0px;
          }
        }
      }
    }
  }
}

@include mobile {
  .moreabout {
    color: #fff;
    .title {
      border-bottom: 1px solid #464646;
      > h2 {
        display: block;
        max-width: 320px;
        padding: 29px 20px;
        line-height: 120%;
        font: normal 500 32px "Pretendard-Medium";
      }
    }
    .communications {
      border-bottom: 1px solid #464646;
      > h3 {
        display: block;
        font: normal 600 24px "Pretendard-SemiBold";
        line-height: 120%;
        padding: 28px 20px;
      }
      .SNSs {
        border-top: 1px solid #464646;
        display: flex;
        .snsIco {
          display: flex;
          width: 20%;
          height: 72px;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #464646;
          img {
            width: 40px;
            height: 40px;
          }
          &:nth-of-type(1) {
            border-left: 0px;
          }
        }
      }
    }
    .ecosystem {
      justify-content: space-between;
      border-bottom: 1px solid #464646;
      > h3 {
        display: block;
        font: normal 600 24px "Pretendard-SemiBold";
        line-height: 120%;
        padding: 24px 20px;
        border-bottom: 1px solid #464646;
      }
      .rightcontainer {
        flex-wrap: wrap;
        .cell {
          position: relative;
          border-bottom: 1px solid #464646;
          padding: 32px 20px;
          .celltop {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .name {
            height: 16px;
          }
          .rightArw {
            width: 16px;
            height: 16px;
          }
          p {
            display: block;
            margin-top: 16px;
            font: normal 500 14px "Pretendard-Medium";
            color: #a7a7a7;
            line-height: 150%;
          }
          .comingsoon {
            display: block;
            position: absolute;
            width: 80px;
            height: 16px;
            padding: 2px 6px;
            left: 117px;
            top: 32px;
            border: 1px solid #b64242;
            border-radius: 100px;
            font: normal 400 10px "Pretendard-Medium";
            line-height: 150%;
            color: #b64242;
            content: "COMING SOON";
            text-align: center;
          }
        }
      }
    }
  }
}
