@import "./_mixin";

@include desktop {
  .Roadmap {
    min-height: 1166px;
    background-color: #a484ff;
    .top {
      padding: 100px 115px;
      text-align: center;
      h2 {
        display: block;
        font: normal 600 24px "Pretendard-SemiBold";
        line-height: 120%;
        margin: 0px auto;
      }
      em {
        display: block;
        padding-top: 8px;
        font: normal 600 56px "Pretendard-SemiBold";
        line-height: 120%;
      }
      p {
        max-width: 1006px;
        margin: 0px auto;
        padding-top: 28px;
        font: normal 500 18px "Pretendard-Medium";
        line-height: 150%;
      }
    }
    .description {
      display: flex;
      min-height: 729px;
      border-top: 1px solid #4f4372;
      .cell,
      .hide {
        position: relative;
        flex: 1;
        width: 33.3%;
        padding: 30px 40px;
        border-right: 1px solid #4f4372;
        em {
          display: block;
          height: 62px;
          font: normal 600 44px "Pretendard-SemiBold";
          line-height: 140%;
          margin-bottom: 25px;
        }
        .current {
          position: absolute;
          left: 236px;
          top: 46.5px;
          width: 82px;
          height: 29px;
          font: normal 500 14px "Pretendard-Medium";
          text-align: center;
          color: #fff;
          line-height: 29px;
          background-color: #1a1a1a;
          border-radius: 16px;
        }
        button {
          display: none;
        }
        .content {
          width: 100%;
          font: normal 500 18px "Pretendard-Medium";
          line-height: 150%;
          margin-bottom: 27px;
        }
      }
    }
  }
}

@include tablet {
  .Roadmap {
    background-color: #a484ff;
    .top {
      padding: 80px 115px;
      text-align: center;
      h2 {
        display: block;
        height: 24px;
        font: normal 600 20px "Pretendard-SemiBold";
        line-height: 120%;
        margin: 0px auto;
      }
      em {
        display: block;
        padding-top: 8px;
        font: normal 600 32px "Pretendard-SemiBold";
        line-height: 120%;
      }
      p {
        max-width: 793px;
        margin: 0px auto;
        padding-top: 16px;
        font: normal 500 16px "Pretendard-Medium";
        line-height: 150%;
      }
    }
    .description {
      display: flex;
      border-top: 1px solid #4f4372;
      .cell,
      .hide {
        position: relative;
        flex: 1;
        padding: 40px 40px 29px 40px;
        border-right: 1px solid #4f4372;
        .current {
          display: block;
          position: absolute;
          width: 73px;
          height: 26px;
          left: 149px;
          top: 44px;
          font: normal 500 12px "Pretendard-Medium";
          text-align: center;
          color: #fff;
          line-height: 29px;
          background-color: #1a1a1a;
          border-radius: 16px;
          content: "CURRENT";
        }
        button {
          display: none;
        }
        em {
          display: block;
          font: normal 600 24px "Pretendard-SemiBold";
          line-height: 140%;
          margin-bottom: 24px;
        }
        .content {
          font: normal 500 18px "Pretendard-Medium";
          line-height: 150%;
          margin-bottom: 27px;
        }
      }
    }
  }
}

@include mobile {
  .Roadmap {
    background-color: #a484ff;
    .top {
      text-align: left;
      padding: 28px 20px;
      h2 {
        display: block;
        height: 24px;
        font: normal 600 20px "Pretendard-SemiBold";
        line-height: 120%;
      }
      em {
        display: block;
        margin: 0 auto;
        font: normal 600 32px "Pretendard-SemiBold";
        line-height: 120%;
        margin-top: 20px;
      }
      p {
        max-width: 793px;
        font: normal 500 16px "Pretendard-Medium";
        line-height: 150%;
        margin-top: 20px;
      }
    }
    .description {
      .cell {
        position: relative;
        flex: 1;
        padding: 24px 20px 19px 20px;
        border-top: 1px solid #1a1a1a;
        .current {
          display: block;
          position: absolute;
          width: 73px;
          height: 26px;
          left: 129px;
          top: 29px;
          font: normal 500 12px "Pretendard-Medium";
          text-align: center;
          color: #fff;
          line-height: 29px;
          background-color: #1a1a1a;
          border-radius: 16px;
        }
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 32px;
          div {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        em {
          display: block;
          font: normal 600 24px "Pretendard-SemiBold";
          line-height: 140%;
        }
        .content {
          font: normal 500 14px "Pretendard-Medium";
          line-height: 150%;
          margin-bottom: 21px;
        }
      }
      .hide {
        flex: 1;
        position: relative;
        padding: 24px 20px 19px 20px;
        border-top: 1px solid #1a1a1a;
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .current {
            display: block;
            position: absolute;
            width: 73px;
            height: 26px;
            left: 129px;
            top: 29px;
            font: normal 500 12px "Pretendard-Medium";
            text-align: center;
            color: #fff;
            line-height: 29px;
            background-color: #1a1a1a;
            border-radius: 16px;
          }
          div {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        em {
          display: block;
          font: normal 600 24px "Pretendard-SemiBold";
          line-height: 140%;
        }
        .content {
          display: none;
        }
      }
    }
  }
}
